  <markdown>
    # Introduction
    Hello, this is kitchen sink, a simple demo application to showcase Angular features and best practices I (Rostyslav Tulika) have learned
    over the years.

    It is not meant to be a production-ready application, but rather a playground for experimenting with Angular concepts.

    ## Features i have implemented

    - Markdown rendering with [ngx-markdown](https://github.com/jfcere/ngx-markdown)
    - Grid widget system with [angular-gridster2](https://github.com/tiberiuzuld/angular-gridster2)
    - Breakpoint service for responsive design
    - Default layout rewoked for responsiveness. [elementar ui layout](https://github.com/elementarlabs/elementar-ui)
  </markdown>
